.filter-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
}

.filter-container input {
  margin-left: 15px;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px;
  font-size: 20px;
  background: transparent;
  color: white;
}

.filter-container input:focus {
  outline: none;
}

.browse-codes-container {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  width: 90%;
  margin: 0 auto 25px;
  max-width: 750px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}