.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 75px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 90%;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  max-width: 600px;
  padding: 50px;
  box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.5);
  margin-bottom:25px;
}  

.card-title {
  display: block;
  font-size: 50px;
  margin-top: 0;
}

.card-prompt {
  font-size: 22px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.flip-icon {
  height: 25px;
  cursor: pointer;
}

.next-icon {
  height: 30px;
  cursor: pointer;
  margin-left: 35px;
}

.skip-button {
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
