.filter-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: white;
}

.filter-container input {
  margin-left: 15px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.explore-codes-container {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
}