@font-face {
  font-family: 'ubuntu';
  src: url(../assets/fonts/ubuntu-regular.ttf) format("truetype");
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url(../assets/fonts/ubuntu-bold.ttf) format("truetype");
  font-weight:700;
  font-style:bold;
}

:root {
  --blue: #334D5C;
  --green: #45B29D;
  --yellow: #EFC94C;
  --orange: #E27A3F;
  --red: #DF5A49;
}

:root body.blue {
  --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  --text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  --background-color: var(--blue);
}

:root body.green {
  --box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  --text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  --background-color: var(--green);
}

:root body.yellow {
  --box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  --text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  --background-color: var(--yellow);
}

:root body.orange {
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  --text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  --background-color: var(--orange);
}

:root body.red {
  --box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  --text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  --background-color: var(--red);
}

* {
  box-sizing: border-box
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'ubuntu', sans-serif;
  letter-spacing: 1px;
  position:relative;
  margin: 0;
  height: 100vh;
  background-color: var(--background-color);
}

body p {
  line-height: 1.4;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: white;
  text-shadow: var(--text-shadow);
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 15px;
  margin: 0 0 100px;
}

.navigation .logo {
  color: white;
  font-size: 40px;
  margin: 50px 0 0;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  position: relative;
  padding: 5px;
}

.navigation li.active:after {
  content: '';
  position: absolute;
  top: 100%;
  left:0;
  width: 100%;
  height:2px;
  background-color: white;
  box-shadow: var(--box-shadow);
}

.navigation li:not(:last-of-type) {
  margin-right: 25px;
}

.navigation li a {
  color: white;
  font-size: 22px;
  text-shadow: var(--text-shadow);
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding: 15px 0;
}

.footer .logo {
  font-size: 18px;
  margin: 0 0 15px;
}

.footer-text {
  color: white;
  text-shadow: var(--text-shadow);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text-divider {
  margin: 0 8px;
}

.footer-link {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.texas-icon {
  height: 25px;
  margin-left: 2px;
}

.github-icon {
  height: 25px;
  margin-left: 2px;
}

.paintbrush-icon {
  height: 20px;
  padding: 3px;
  transition: .3s;
}

.theme-picker-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.theme-picker-dropdown {
  background-color: white;
  position: absolute;
  top: -22px;
  left: 0px;
  padding: 2px;
  text-align: center;
  transition: .2s;
  transition-delay: .2s;
  transition-timing-function: ease-in-out;
  border-radius: 0 0 5px 5px;
  box-shadow: var(--box-shadow);
}

.theme-picker-text {
  display: inline-block;
  width: 0;
  font-size: 14px;
  opacity: 0;
  transition: .2s;
}

.theme-picker-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-picker-dropdown:hover {
  top: 0;
}

.theme-picker-dropdown:hover .theme-picker-text {
  width: initial;
  opacity: 1;
}

.theme-picker-dropdown:hover .paintbrush-icon {
  padding: 4px 0 4px 2px;
}

.theme-picker-dropdown:hover .theme-picker-colors > div {
  width: 20px;
}

.theme-picker-colors {
  display: flex;
}

.theme-picker-colors > div {
  height: 20px;
  width: 4px;
  transition: .2s;
  cursor: pointer;
}

.theme-picker-colors .blue {
  background-color: var(--blue);
}

.theme-picker-colors .green {
  background-color: var(--green);
}

.theme-picker-colors .yellow {
  background-color: var(--yellow);
}

.theme-picker-colors .orange {
  background-color: var(--orange);
}

.theme-picker-colors .red {
  background-color: var(--red);
}

/* Shared Component Styles */

.read-more {
  font-size: 14px;
  color: black;
  text-decoration: underline;
}

.read-more.muted {
  color: #adadad;
  font-size: 10px;
  transition: .3s;
  text-decoration: none;
}

.read-more.muted:hover {
  color: black;
}


/* Mobile Styles */

@media (max-width: 500px) {
  .main-container {
    padding-top: 30px;
  }

  .theme-picker-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .theme-picker-dropdown {
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .theme-picker-text-container {
    display: none;
  }

  .theme-picker-colors > div,
  .theme-picker-dropdown:hover .theme-picker-colors > div {
    height: 30px;
    width: 20%;
  }

  .logo {
    font-size: 30px;
  }

  .navigation {
    padding-top: 0;
  }

  .navigation li a {
    font-size: 15px;
  }

  .read-more.muted {
    font-size: 12px;
  }
}
