@font-face {
  font-family: 'ubuntu';
  src: url(..\fonts\ubuntu-regular.ttf) format("truetype");
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url(..\fonts\ubuntu-bold.ttf) format("truetype");
  font-weight:700;
  font-style:bold;
}

body {
  background-color: #334D5C;
  font-family: 'ubuntu', sans-serif;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 100px;
}

.navigation li {
  list-style-type: none;
}

.navigation li:not(:last-of-type) {
  margin-right: 25px;
}

.navigation li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 5px;
}

.navigation li a.active {
  border-bottom: 1px solid white;
}