body {
  background-color: #334D5C;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 100px;
}

.navigation li {
  list-style-type: none;
  padding: 5px 15px;
}

.navigation li a {
  text-decoration: none;
  color: white;
}